In [1]:
import pandas as pd
import random

#importing libraries I needed

# DataFrame 1

In [2]:
data_1 = {'id' : [1002, 1004, 1006],
     'first_name': ['Cersei', 'Daenerys', 'Arya']}

df_1 = pd.DataFrame(data=data_1)
df_1

     id first_name
0  1002     Cersei
1  1004   Daenerys
2  1006       Arya

# DataFrame 2

In [3]:
data_2 = {'id' : [1003, 1004, 1005, 1002, 1006],
     'last_name': ['Tyrell', 'Targaryen', 'Snow', 'Lannister', 'Stark']}

df_2 = pd.DataFrame(data=data_2)
df_2

     id  last_name
0  1003     Tyrell
1  1004  Targaryen
2  1005       Snow
3  1002  Lannister
4  1006      Stark

*Please note the solution cells have to be run in the order they're presented in as running the .map() method creates a new column on df_1 which will throw off the code for the others!

# Solution 2: Using .join()

In [4]:
joined_df = df_1.set_index('id').join(df_2.set_index('id'))
%timeit joined_df

39.2 ns ± 0.709 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# Solution 3: Using .merge()

In [5]:
merged_df = df_1.merge(df_2, how='left', on='id')
%timeit merged_df

38 ns ± 0.369 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# Solution 4: Using .concat()

In [6]:
concat_df = pd.concat([df_1.set_index('id'), df_2.set_index('id').last_name], axis=1, sort='id', join='inner')
%timeit concat_df

38.5 ns ± 0.379 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# Solution 1: Using .map()

In [7]:
%timeit df_1['last_name'] = df_1.id.map(df_2.set_index('id')['last_name'].to_dict())
print('data frame 1 after procv')
display(df_1)

2.3 ms ± 131 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
data frame 1 after procv

     id first_name  last_name
0  1002     Cersei  Lannister
1  1004   Daenerys  Targaryen
2  1006       Arya      Stark